<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <h1>Productos FakeStore</h1>

        <table border="1" cellpadding="10">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Imagen</th>
                    <th>Título</th>
                    <th>Precio</th>
                    <th>Categoría</th>
                </tr>
            </thead>
            <tbody>
                <% productos.forEach(producto => { %>
                    <tr>
                        <td><%= producto.id %></td>
                        <td>
                            <img src="<%= producto.image %>" width="80">
                        </td>
                        <td><%= producto.title %></td>
                        <td>$<%= producto.price %></td>
                        <td><%= producto.category %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>